<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/new_user">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="surname" placeholder="surname">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="number" name="number_phone" placeholder="number_phone">
        <input type="text" name="mail" placeholder="mail">
        <input type="submit" value="Create User">
    </form>

</body>
</html>